
stroke_left(color, weight)
    content ' '
    position absolute
    width 100%
    height 100%
    left 0
    bottom 0
    border-left solid color weight

stroke_bottom(color, weight)
    content ' '
    position absolute
    width 100%
    height 100%
    left 0
    bottom 0
    border-bottom solid color weight

.blocklink
    position relative

.blocklink .filler
    position absolute
    width 100%
    height 100%
    top 0 
    left  0 
    z-index  1 

.blocklinks.list_vertical > .blocklink.active > .content:after
    stroke_left(red, 2px)

.blocklinks.list_vertical > .blocklink:hover:not(.active) > .content:after
    stroke_left(blue, 2px)

.blocklinks.list_horizontal > .blocklink.active > .content:after
    stroke_bottom(red, 2px)

.blocklinks.list_horizontal > .blocklink:hover:not(.active) > .content:after
    stroke_bottom(blue, 2px)

.blocklinks
    list-style-type none

.list_vertical > li
    display block

.list_horizontal > li
    display inline-block
