mixin blocklinks()
    ul.blocklinks
        block

mixin blocklink()
    li.blocklink(class= attributes.active ? 'active' : '')
        a(href!=attributes.href)
            span.filler
        .content
            block

